.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	cursor: pointer;

	& p {
		font-weight: bold;
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	.logo p {
		display: none;
	}
}