.modal {
	display: none;
}

@media (max-width: 1279px) {
	.modal.nav {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 49px;
		left: 0;
		background-color: #fff;
		border-radius: 8px;
	}
}

@media (max-width: 1023px) {
	.modal.burger {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 49px;
		left: 0;
		background-color: #fff;
		border-radius: 8px;
	}
}