.wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;

	& a {
		font-size: 14px;
		font-weight: 400;
		color: #5509CC;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.title {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	color: #474747;
}