.wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	margin-top: 36px;
}

.about {
	display: flex;
	gap: 10px;
	padding: 24px;
	background: var(--text-secondary-color);
	border-radius: 24px;
	filter: drop-shadow(0 4px 10px rgba(106, 99, 118, .1));
}

.question-image {
	border-radius: 12px;
	width: 160px;
	height: 160px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 12px;

	& p {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.3;
		color: #474747;
	}
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;


	& h1 {
		margin-bottom: 0;

		font-weight: 500;
		font-size: 24px;
		line-height: 1.2;
		color: #303030;
	}
}

.sidebar {
	display: none;
}

.questions {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.short,
.long {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 24px;
	background: var(--text-secondary-color);
	border-radius: 24px;
	filter: drop-shadow(0 4px 10px rgba(106, 99, 118, .1));

	& h2 {
		font-weight: 500;
		font-size: 20px;
		color: #303030;
	}

	& div {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.3;
		color: #303030;
	}
}

.long-answer {
	position: relative;
	overflow: hidden;
	transition: height .5s;
}

.show-button {
	display: flex;
	justify-content: center;
	gap: 8px;
	padding-top: 20px;
	background: var(--text-secondary-color);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 1) 90%);
	width: 100%;
	border: none;
	position: absolute;
	bottom: 18px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	color: #6A0BFF;
}

.arrow {
	transition: transform .5s;

	&.open {
		transform: rotate(-180deg);
	}
}

.back {
	border: none;
	background-color: transparent;
	padding: 4px;
	margin-top: -46px;

	font-weight: 500;
	font-size: 16px;
	color: #6A0BFF;

	&:hover {
		color: #400799;
		text-decoration: underline;
	}
}

@media (max-width: 1023px) {
	.question-image {
		display: none;
	}

	.sidebar {
		display: flex;
		background-color: transparent;
		padding: 6px;
		border: 1px solid #BABABA;
		border-radius: 8px;
	}
}

@media (max-width: 360px) {
	.about {
		flex-direction: column;
		align-items: center;
	}

	.question-image {
		width: 100%;
		height: auto;
	}

	.title h1 {
		width: auto;
		font-size: 20px;
	}
}