.block {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.title {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	color: #474747;
}

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.button {
	border: none;
	background-color: transparent;
	display: inline-flex;

	color: #6A0BFF;

	&:hover {
		text-decoration: underline;
	}
}