.header {
	display: flex;
	justify-content: center;
	padding: 8px 0;
	background: var(--text-secondary-color);
	margin-bottom: 40px;
}

.wrapper {
	width: 100%;
	max-width: 1216px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navigation {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	cursor: pointer;

	& p {
		font-weight: bold;
		font-size: 20px;
	}
}

.navigation-modal {
	display: none;
}

.navigation-buttons {
	display: flex;
	gap: 20px;
}

.links {
	color: #191919;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;

	padding: 6px 10px;
	border-radius: 12px;
	cursor: pointer;

	&:hover {
		background-color: #f8f8f8;
	}

	& p:hover {
		color: #5509cc;
	}

	&.active {
		background-color: #f8f8f8;

		& p {
			color: #5509cc;
		}
	}
}

.auth-buttons {
	display: flex;
	gap: 26px;
}

.small {
	border: none;
	background: none;
	color: var(--primary-color);
	cursor: pointer;
}

.big {
	background: var(--primary-color);
	color: var(--text-secondary-color);
	padding: 12px 29px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background .3s;

	&:hover {
		background: #5509cc;
	}

	&:active {
		background: #400799;
	}
}

.modal {
	display: none;
}

.mobile {
	flex-direction: column;
}


.burger-button {
	display: none;
}

@media (max-width: 1439px) {
	.header {
		padding: 8px 60px;
	}
}

@media (max-width: 1279px) {
	.modal {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 49px;
		left: 0;
		background-color: #fff;
		border-radius: 8px;
	}

	.modal-auth-button {
		border: none;
		background-color: transparent;
		padding: 8px;

		text-align: center;
		font-size: 16px;
		font-weight: 500;
		color: #191919;
		text-decoration: none;

		&.active {
			border-radius: 8px;
			background-color: #f8f8f8;
			color: #5509cc;
		}
	}

	.navigation-buttons.mobile {
		display: flex;
		gap: 20px;
	}

	.navigation-buttons {
		display: none;
	}

	.navigation-modal {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 6px;
		border: none;
		background-color: transparent;

		font-weight: 500;
		font-size: 16px;
		line-height: 140%;
		color: #191919;

		&::after {
			content: url();
		}
	}


}

@media (max-width: 1199px) {
	.header {
		padding: 8px 30px;
	}
}

@media (max-width: 1023px) {
	.auth-buttons.mobile {
		display: flex;
		gap: 26px;
	}

	.auth-buttons {
		display: none;
	}

	.burger-button {
		display: flex;
		padding: 0;
		margin: 0;
		border: none;
		background-color: transparent;
	}
}

@media (max-width: 767px) {
	.header {
		padding: 8px 5px;
	}

	.logo p {
		display: none;
	}
}