.close {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	border: none;
	background: none;
	cursor: pointer;

	font-weight: 600;
	color: #6A0BFF;

	&:hover {
		text-decoration: underline;
	}
}