.show-button {
	display: inline;
	background-color: transparent;
	border: none;

	font-size: 14px;
	font-weight: 400;
	color: #5509CC;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}