.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 20px 40px;

	background: var(--text-secondary-color);
	border-radius: 24px;
}

.questions {
	width: 100%;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 16px;
	border-bottom: .5px solid #E8E8E8;
}

.title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 0;

	line-clamp: 1;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.sidebar {
	display: none;
}

.question-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.wrapper-not-found {
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(106, 99, 118, 0.102);
}

.question {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 24px;
	cursor: pointer;
	position: relative;
	align-items: center;

	& h2 {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 20px;
		line-height: 1.2;
		font-weight: 500;
	}
}

@media (max-width: 1023px) {
	.sidebar {
		display: flex;
		border: 1px solid #BABABA;
		border-radius: 8px;
		background-color: transparent;
		padding: 2px;
	}
}